## Functions:
  - A function in Python is a block of code that performs a specific task.
  - we can create a funtion using def keyword.
  - We can write a code inside function a use that function number of times.

In [1]:
def test():
    pass  #-- Pass simply means that pass the entire definiton

In [2]:
def test1():
    print("This is my very very first fun")

In [4]:
test1() ##-- Without calling funtion the function will never execute

This is my very very first fun

In [6]:
# test1() + "anmol"  -- This will give an error because we can't perform concatenation operation with function

In [7]:
def test2():
    return "This is my fun with return"

In [8]:
test2()

'This is my fun with return'

In [10]:
test2() + "Anmol" ##-- This will execute bec. we are returning string,that is why we always use return instead of print

'This is my fun with returnAnmol'

In [11]:
def test3():
    return 1,4, "pwskills" ,34.54

In [12]:
test3()  ##-- I am able to return multiple returns from function test3()

(1, 4, 'pwskills', 34.54)

In [13]:
a = 1,2,3,4,5
a

(1, 2, 3, 4, 5)

In [14]:
a,b,c,d=1,2,34.54,True

In [15]:
a ##-- a is trying to hold a value 1

1

In [16]:
b ##-- b is trying to hold a value 2

2

In [17]:
test3()

(1, 4, 'pwskills', 34.54)

In [19]:
test3()[1] ##-- We can also extract data in this way

4

In [21]:
test3()[3]

34.54

In [22]:
def test4():
    a=3*4+5
    return a

In [23]:
test4()

17

In [24]:
type(test4())

int

In [25]:
def test5(a,b): ## -- We can also pass some data at time to create a function
    c=a+b
    return c

In [26]:
test5(2,5)  #-- Here i pass value of a and b

7

In [28]:
test5("Anmol"," Rana")

'Anmol Rana'

In [29]:
## we can also concatenate list using test5() function
test5([1,2,3,4],[5,6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
## We can also pass the value of b in place of a
test5(b=" Rana",a="Anmol")

'Anmol Rana'

In [32]:
l=[1,2,3,4,5,"anmol","pwskills",[1,2,3,34,54]]

In [33]:
## Create a function which will take input as a list and give me a final list with all the numeric values
def test6(a):
    n = []
    for i in a :
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [34]:
test6(l)

[1, 2, 3, 4, 5]

In [35]:
## Also Extracting data out of list inside a list 'l'
l

[1, 2, 3, 4, 5, 'anmol', 'pwskills', [1, 2, 3, 34, 54]]

In [36]:
def test7(a):
    n =[]
    for i in a:
        if type(i)==list:
            for j in i :
                if type(j)==int or type(j)== float:
                    n.append(j)
        else:
            if type(i)==int or type(i)==float:
                n.append(i)
    return n

In [37]:
test7(l)

[1, 2, 3, 4, 5, 1, 2, 3, 34, 54]

## Args
  - suppose we don't know that how many values user will going to pass to our function in that situation we use args.

In [41]:
def test8(*args): ##-- we don't need to pass parameter to the function this args is not a keyword 
    return args

In [39]:
test8(2)

(2,)

In [42]:
test8(1,2,3,5,6,7)

(1, 2, 3, 5, 6, 7)

In [43]:
test8('anmol',[1,2,3,4,5,],(1,2,3,4,5))

('anmol', [1, 2, 3, 4, 5], (1, 2, 3, 4, 5))

In [44]:
def test9(*anm):  ##-- we can use any name in place of args
    return anm

In [45]:
test9(1,2,65,334,43)

(1, 2, 65, 334, 43)

In [48]:
def test10(*args,a):
    return args,a

In [49]:
test10(1,2,3,4, a = "Anmol") #-- We have to pass minimum 1 additional data for a

((1, 2, 3, 4), 'Anmol')

In [52]:
## IF we pass mutiple data out of that data we keep all list separate
def fun1(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [54]:
fun1(1,2,3,[1,2,3,4], (1,2,3,4,5),"anmol", [4,5,6],[7,8,9])

[[1, 2, 3, 4], [4, 5, 6], [7, 8, 9]]

## kwargs
  - It is also like args and also take n number of input but in form of key and value pair.
  - kwargs is not a keyword we can use any word in place of kwargs.
  - The data we passing to kwargs will be in the form of dictionary.

In [56]:
def fun2(**kwargs):
    return kwargs

In [57]:
fun2()

{}

In [58]:
type(fun2())

dict

In [59]:
fun2(a=34,b=23,c=[1,2,3,4],d= ("anmol","rana"))

{'a': 34, 'b': 23, 'c': [1, 2, 3, 4], 'd': ('anmol', 'rana')}

In [60]:
## if values passed in kwargs are of list type then simply return key of that list and list also
def fun3(**kwargs):
    for i in kwargs.keys():
        if type (kwargs[i]) ==list:
            return i , kwargs[i]

In [61]:
fun3(a=34,b=23,c=[1,2,3,4],d= ("anmol","rana"))

('c', [1, 2, 3, 4])

In [62]:
## We can also pass both args and kwargs as a parameter
def fun4(*args,**kwargs):
    return args, kwargs

In [ ]:
fun4(12,)