## Map:
  - Map function does the maping of the element available inside the iteration.

In [2]:
l =[1,2,3,4,45,5]

def sq(x):
    return x**2

In [3]:
#-- Returning square of every element in the list
list(map(sq,l))

[1, 4, 9, 16, 2025, 25]

In [4]:
## -- We can also write this fucntion in one line using lambda function
list(map(lambda x :x**2,l))

[1, 4, 9, 16, 2025, 25]

In [5]:
## we can also convert every element into string
list(map(lambda x :str(x),l))

['1', '2', '3', '4', '45', '5']

In [6]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [8]:
## Adding element of both lists
list(map(lambda x,y : x+y,l1,l2))

[7, 9, 11, 13, 15]

In [1]:
##- Separate all the character and return the characters in a list by converting it in uppercase
s = "programming"
list(map(lambda x :x.upper(),s))

['P', 'R', 'O', 'G', 'R', 'A', 'M', 'M', 'I', 'N', 'G']

## Reduce:
  - Reduce function is not available directly, we have to import it from functools
  - It reduces the entire iterable.
  - Its always better to take only two argument while using reduce function.

In [3]:
from functools import reduce
l=[1,2,3,4,5,4]

In [3]:
## Sum of all the element in the list
reduce(lambda x,y : x+y,l)

19

In [4]:
## Finding the maximum element in the entire list using reduce function
l

[1, 2, 3, 4, 5, 4]

In [5]:
reduce(lambda x,y :x if x>y else y , l)

5

## Filter:
  - Filter function is used to filter the elements from the list

In [6]:
l

[1, 2, 3, 4, 5, 4]

In [7]:
## Filter only  Even function using filter function

In [8]:
list(filter(lambda x : x%2 ==0,l))

[2, 4, 4]

In [9]:
## Filter only positive number from the list 
lst=[-2,4,5,6,-3,-6,-8]
list(filter(lambda x : x>0,lst))

[4, 5, 6]

In [10]:
# Extracting negative number using filter
list(filter(lambda x :x<0,lst))

[-2, -3, -6, -8]

In [11]:
## Extract those string whose length is lesser than 6
l2=["anmol","programming","kangra","jammu","bengalore"]
list(filter(lambda x : len(x)<6,l2))

['anmol', 'jammu']